{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receptionist Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">   
</head>
<body>
    <div class="sidebar">
        <img src="{% static "images/django logo.png" %}" alt="Logo" class="logo">
        <ul>
            <li><a href="{% url 'view_doctors' %}"><i class="fas fa-user-md"></i> Add Doctors</a></li>
            <li><a href="{% url 'view_schedule' %}"><i class="fas fa-calendar"></i> Doctor Schedule</a></li>
            <li><a href="{% url 'patient_dashboard' %}"><i class="fas fa-user-plus"></i> Patients</a></li>
            <li><a href="{% url 'all_appointments' %}"><i class="fas fa-calendar-check"></i> Appointments</a></li>
            <li><a href="{% url 'treatment' %}"><i class="fa-solid fa-stethoscope"></i> Treatments</a></li>
            <li><a href="{% url 'lab_orders' %}"><i class="fa-solid fa-microscope"></i></i>Lab</a></li>
            <li><a href="{% url 'payment_summary' %}"><i class="fas fa-dollar-sign"></i> Payments</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="header">
            <h1>Receptionist Panel Dashboard</h1>
        </div>
        <div class="section">
            <h2>Welcome, Receptionist!</h2>
            <p>Select an option from the sidebar to get started.</p>
        </div>
    </div>
</body>
</html>
