* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    min-height: 100vh;
    background: #f4f7fc;
}
.sidebar {
    width: 250px;
    background: #2b6777;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100vh;
}
.logo {
    position: absolute;
    top: 5px;
    right: 25px;
    width: 200px; 
    height: 70px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 60px;
}
.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
}
.sidebar ul li {
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.sidebar ul li:hover {
    background: #52ab98;
}
.sidebar ul li i {
    margin-right: 10px;
}
.main-content {
    margin-left: 270px;
    padding: 20px;
    width: calc(100% - 270px);
}
.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}
.form-container h2 {
    margin-bottom: 15px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group input[type="file"] {
    border: none;
}
.form-group select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.submit-btn {
    background: #2b6777;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.submit-btn:hover {
    background: #52ab98;
}
